/*genric*/
.noBrd{
	border: 0 !important;
	background: transparent !important;
	box-shadow: none !important;
}

/*slide2*/
.typeHead{
	position: absolute;
	top: 230px;
	left: 800px;
	width: 260px;
	height: 219px;
	-webkit-transform:rotate(12deg);
}
.typeHead img{
	max-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.typeBotBottom{
	z-index: 1;
	 -webkit-animation: mouth .5s  infinite alternate;
}
.typeBotTop{
	z-index: 2;
	
}
.marquee{
	position: absolute;
	top: -15px;

}

@-webkit-keyframes mouth {
  0% {
    margin-top: 0;
  }
  100%{
    margin-top: 10px;
  }
}

/* nodeBot page */
.botCont{
	width: 1000px;
	height: 600px;
	position: relative;
}

.botPct{position: absolute;}

.sumo{
	bottom: 0;
	left: 0;
	width: 300px;
}
.drone{
	top: 0;
	left: 30%;
	width: 330px
}

.hexa{
	right: 0;
	bottom: 10px;
	width: 320px;
}
.board{
	width: 700px;
}
/*slide3*/
.chrisCont{
	padding-left: 220px !important;
	background: url("../imgs/smallChris.png") top left no-repeat !important;
}
.chrisCont p{ text-align: left;
}
.rickCont{
	padding-right: 220px !important;
	background: url("../imgs/smallRick.png") top right no-repeat !important;
}
.rickCont p{ text-align: right;
}
/*slide 5*/
.catVid{
	position: relative;
}
.dancingCat{
	position: absolute;
	left: -160px;
	bottom: -170px;
	height: 400px;
	width: 320px;
	-webkit-background-size: 50% 50%;
	background-size: 50% 50%;
	background: url("../imgs/dancing_cat.gif") no-repeat top left !important;
}