<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Rise of the nodebots</title>
  <link rel="stylesheet" href="bower_components/reveal.js/css/reveal.min.css">
  <link rel="stylesheet" href="css/nodeBots.css">
  <link rel="stylesheet" href="bower_components/reveal.js/css/theme/default.css" id="theme">

  <link rel="stylesheet" href="bower_components/reveal.js/lib/css/zenburn.css" id="highlight-theme">

  <!-- If the query includes 'print-pdf', use the PDF print sheet -->
  <script>
    document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
  </script>

  <!--[if lt IE 9]>
  <script src="lib/js/html5shiv.js"></script>
  <![endif]-->
  
</head>
<body>

  <div class="reveal">
    <div class="slides">
    </div>
  </div>

  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/handlebars/handlebars.js"></script>
  <script src="bower_components/reveal.js/lib/js/head.min.js"></script>
  
  <script src="bower_components/reveal.js/js/reveal.min.js"></script>
  <!-- 
   -->
  <script src="bower_components/reveal.js/plugin/leap/leap.js"></script>
  <script src="bower_components/reveal.js/plugin/highlight/highlight.js"></script>
  <script src="js/main.js"></script>

  <script id="slide-template-markdown" type="x-handlebars-template">
    <section data-markdown="slides/{{file}}"></section>
  </script> 

  <script id="slide-template" type="x-handlebars-template">
    <section data-html="slides/{{file}}"></section>
  </script> 

  <script id="vertical-template" type="x-handlebars-template">
    <section class="{{ident}}"></section>
  </script>

  <script>
  // First, get sorted slide list
  $.getJSON('slides/list.json', function(data) {
    // Append ordered slides
    appendSlides(data);

    // Configure Reveal
    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      center: true,

      theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
      transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

      // Optional libraries used to extend on reveal.js
      dependencies: [
      { src: 'bower_components/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
      { src: 'bower_components/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: 'bower_components/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: 'bower_components/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
      { src: 'bower_components/reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
      { src: 'bower_components/reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
      // { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
      //{ src: 'bower_components/reveal.js/plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }

      { src: 'js/loadtemplates.js', condition: function() { return !!document.querySelector( '[data-html]' ); } }
      ]
    });
  });
  </script>

</body>
</html>
