<section>
    <section>
    	<h2>What are Nodebots ?</h2>
		<p>Nodebots are wonderful creatures, allowing us to control the physical world</p>

    </section>
    
    <section>
    	<h2>real life examples</h2>
    	<div class="botCont">
    		<img src="imgs/sumbot.png" alt="" class="noBrd botPct sumo">
    		<img src="imgs/drone.png" alt="" class="noBrd botPct drone  fragment">
    		<img src="imgs/hexa.png" alt="" class="noBrd botPct hexa fragment">
    	</div>
    </section>
    <section>
		<h2>Our new friend, the Arduino</h2>
    	<p>Arduino is an open source development platform, it make thing blinks and move !</p>
    </section>
    <section>   
        <h2>specs</h2>
        <p>
            <ul>
                <li>
                    ATmega328 processor @ 16 MHz !!!
                </li>
                <li>
                    32 KB memory (embedded in the ATmega)
                </li>
                <li>
                    14 digital pins
                </li>
                <li>
                    6 analog input pins
                </li>
            </ul>
        </p><br>        
        <h2 class="fragment">Pure Power</h2>
    </section>
    <section>
    	<h2>dissection</h2>
		<img src="imgs/arduino.png" alt="" class="noBrd board">
    </section>
</section>
