<section data-background="#111111">
    <section>
    	<h2>
    		robots : OK, Javascript : OK <br>
    		special guest ?
    	</h2>
    	
    	<div class="fragment">
    		<h2>HERE IS THE</h2>
    		<div class="catVid">
    			<!-- <iframe width="560" height="315" src="//www.youtube.com/embed/6NYyGC-wZKU" frameborder="0" allowfullscreen></iframe> -->
    			<video controls="false" autoplay="autoplay" loop="loop" muted="muted">
	  				<source src="vid/cat_remote_control.mp4">
				</video>
    			<div class="dancingCat"></div>
    		</div>
    		<h1>CATBOT !!!</h1>
    </section>
	<section>
		<h1>
			CATBOT <br>
			build your own <br>
			Cat Distraction Device
		</h1>
		<ul>
			<li>easy to build</li>
			<li>fun to play with</li>
			<li>perfect as a cdd (cat distraction device)</li>
		</ul>
	</section>
	<section data-background="#6e9897">
		<h1>hardware</h1>
		<ul>
			<li>1 arduino board (the brain)</li>
			<li>2 servos (pan / tilt)</li>
			<li>1 servo pan/tilt bracket</li>
			<li>1 laser</li>
			<li>1 breadboard</li>
			<li>wires'n'cables</li>
		</ul>
		<br><br>
		<p>
			since this presentation is a short one, I'll skip the hardware setup itself, I have a already built device
		</p>
	</section>
	<section data-background="#6d8281">
		<h1>Code ! (again)</h1>
		<p>
			
			<ul>
				<li>
					Xbox controller cdd
				</li>
				<li>
					Web controlled cdd
				</li>
			</ul>
		</p>
	</section>
</section>
