<section>
    <h2>From assembler to javascript</h2>
    <div class="listCont">
	    <ul>
	    	<li class="fragment">for a long period of time, robots used C to talk with us …</li>
	    	<li class="fragment">it was a tedious process …</li>
	    	<li class="fragment">they had to COMPILE every sentences !!!</li>
	    	<li class="fragment">Making it harder for them to react</li>
	    	<li class="fragment">Or to chill out in the interweb</li>
	    </ul>
    </div><br>
    <h2><span class="fragment">IDE > </span> <span class="fragment">Compiler > </span> <span class="fragment">Hardware</span><br>
    <span class="fragment">BORING !!!</span></h2>
    <div class="typeHead">
    	<img src="imgs/typeBotTop.png" class="typeBotTop typeBotImg noBrd" alt="">
    	<img src="imgs/typeBotBottom.png" class="typeBotBottom typeBotImg noBrd" alt="">
    	<div class="marquee">0101011001</div>
    </div>
</section>
