<section>
    <section>
    	<h2>and what about node ?</h2>
		<p>
			arduino is all about I/O, its main job is to get analog input, and send digital output.
		</p>
    	<p>
    		it is normally programed with an offspring of the processing language, a program is composed of two main blocks :
    		<ul>
    			<li>a setup function</li>
    			<li>a loop that run forever after the setup</li>
    		</ul>
    			
    	</p>
    	<p>this is a robust and simple system, but sometime we need more</p>
    </section>
    <section>
    	<h2>Firmata to the rescue</h2>
    	<p>
    		As we all know node is fast, even driven, with a non-blocking I/O model, dealing with a few pins is not a big challenge. but it can't talk with the arduino
    	</p>
    	<p>
    		this is where firmata kicks in ! firmata is a arduino sketch that you load inside the arduino, it expose all the I/O ping to a standardized serial protocol. once you upload it to a board, you got a nodebot ready arduino board.
    	</p>
    </section>
    <section>
    	<h2>Serial port</h2>
    	<p>
    		hopefully for us, while node do not natively understand serial port protocol, we already have our Rosetta stone, node serial port. 
    	</p>
    	<p>
    		serial port fuels most of the actual nodebots implementation. it is a simple library dealing with simple things ...
    	</p>
    </section>
    <section>
    	<h2>our last friend, Johnny-five</h2>
    	<p>
    		serial port provide us direct communication with the board, and power johnny-five, and johnny five provide us some abstraction to deal with various standard electronic components connected to the arduino.
    	</p>
    	<p>
    		you could see it a bit like the Jquery for arduino
    	</p>
    </section>
	<section>
		<h3>Arduino ⇄ Firmata ⇄ Serialport ⇄ Johnny-five</h3>
		<h2 class="fragment">YOU WIN</h2>
	</section>
</section>
