<section>
    <section>
    	<h2>all of that thanks to </h2>
    		<div class="chrisCont">
    			<p>
    				Chris Williams  @voodootikigod, is a new era Champolion, sort of, and in place of the Roseta stone he gave us Node Serial Port, alowing us to talk to robots in the language we all talk (at least here, i guess).
    			</p>
    		</div><br><br>
    		<div class="rickCont">
    			<p>
    				Then came master Rick Waldron (@rwaldron) his gift to us was johnny-five, allowing us to talk with a comprehensive little robot called arduino ... this is what we will use today
    			</p>
    		</div>
    </section>
    <section>
        <h2>People to follow</h2>
            <div>
                <p>
                    <ul>
                        <li>@vodootikigod (father of the nodebots)</li>
                        <li>@rwaldron (master jedi of the nodiuno)</li>
                        <li>@teabass (the man who whispered nodecopters)</li>
                        <li>@olizilla (a man with a vision, head of the london’s nodebot invasion)</li>
                        <li>@rockbot (robotic engineer, creator of vektor, a lib for … vectors, she even speak french, among other language )</li>
                        <li>@ceejbot (creator of aerogel a lib to node control crazyflies)</li>
                        <li>@gorhgorh, yours truly</li>
                    </ul>
                </p>
            </div>
    </section>
    <section>
        <h2>last minute group created !!!</h2>
        <h2>please join : <br> <span style="color:red">http://www.meetup.com/Nodebots-Paris/</span> <br>if you are interested</h2>
    </section>
</section>
