<div class="slides">
    <section>
        <h1>Rise of the NodeBots</h1>
<div>A story about robots, node</div>
<div>... and cats&nbsp;</div>
<div class="absolute-element" style="position: absolute; width: 207px; height: 39px; z-index: 4; left: 11px; top: 649px;">By <a href="twitter.com/gorhgorh">@gorhgorh</a>
</div>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/jeromeloi/images/94503/dancing_cat.gif" style="width: 244px; height: 311px; max-height: none; max-width: none; position: absolute; z-index: 4; left: 644px; top: 323px;" class="absolute-element">
    </section>
    <section>
        <section>
            <h1>
    <span style="font-size: 54px;">From assembler to javascript</span>
            <span style="text-align: right;">for a long period of time, robots used C&nbsp;</span>
</h1>
<p style="text-align: left; position: absolute; width: 561px; height: 116px; z-index: 4; left: 246px; top: 310px;" class="absolute-element">
            <span>
            </span>
            </p>
<div style="text-align: left;">
<span>(or derived) to talk with us …&nbsp;</span>
            <br>
</div>
<div style="text-align: right;">
            <span>it was a tedious process …</span>
        </div>
<p>
    </p>

    <div style="text-align: left; position: absolute; width: 566px; height: 39px; z-index: 5; left: 21px; top: 205px;" class="absolute-element">
        <span>they had to COMPILE every sentences !!!</span>
    </div>


<p>
</p>

</section>
    <section>
        <h2>Title</h2>
    </section>
</section>
</div>
