<section>
    <section>
    	<h1>thanks for your time</h1>
    	
    	<p>NOW GO MAKE ALL THE THINGS BLINKS AND MOVE</p>
    </section>
    <section>
    	<h1>and remember</h1>
    	<img src="imgs/multi.png" alt="" class="noBrd">
    	<p>this is your new console.log()</p>
    </section>
</section>
