<section>
    
    <section>
    	<p>some people here may be doing C, robots or both  already ?</p>
    	<p>
    		they may wonder : why node for building bot ?
    	</p> 
    	<p>
			why not would be a simple answer, but, i think about it, robots are event based, so is node, isn’t it a good match ? 
        </p>
        <br>
		<h2>
			hardware > Firmata >node serialPort >node apps, webpage, any websocket,tcp, whatever ready thing <br><br> 
            <span class="fragment">    
                LOADS OF FUN    
            </span>
        </h2>
    </section>
    <section>
        <h1>how it does this works ?</h1>
        <p>firmata is a protocol used to talk with micro controllers, this is the only thing you'll need on your arduino to have a chat with node</p>
        <p>node-serial port is a node module, used to </p>
    </section>
</section>
